.profile {
  background-color: var(--color-bg-surface);
  min-height: 650px;

  .row {
    justify-content: center;
  }

  &-orders__arrow {
    path {
      fill: var(--color-base-dark);
    }

    &.--active {
      background-color: var(--color-sky-blue);

      svg {
        transform: rotate(0);

        path {
          fill: #fff;
        }
      }
    }
  }

  &__content {
    max-width: 700px;
    width: 100%;
    margin-left: 24px;
  }

  &__block {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 30px;
  }

  &__heading {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    color: var(--color-base-dark);
    padding: 20px;
    position: relative;
    margin-bottom: 20px;

    &:after {
      content: '';
      width: 95%;
      height: 1px;
      background-color: var(--color-bg-surface);
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    svg {
      width: 32px;
      height: 32px;
      margin-right: 16px;
    }

    &-link {
      position: absolute;
      right: 30px;
      top: 20px;
      z-index: 1;
      font-size: 14px;
      font-weight: 400;
      color: var(--color-purple);
    }
  }

  &__acc-row {
    border-radius: 10px;
    padding: 10px 20px;
    transition: background-color 0.4s ease;
    cursor: pointer;

    &:hover {
      background-color: var(--color-bg-surface);
    }

    svg {
      width: 24px;
      height: 24px;
      flex-shrink: 0;
      margin-right: 16px;

      path {
        fill: var(--color-purple);
      }
    }

    .--gray {
      margin-left: auto;
    }
  }

  &__text {
    font-size: 14px;
    font-weight: 400;
    color: var(--color-base-dark);

    &.--gray {
      color: var(--color-text-gray);
    }
  }

  &__edit {
    border: none;
    padding: 0;
    background-color: transparent;
    font-size: 14px;
    font-weight: 500;
    color: var(--color-purple);
    margin-left: auto;
    cursor: pointer;
  }

  &__input-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  &__label {
    span {
      margin-bottom: 8px;
      font-size: 12px;
      font-weight: 400;
      color: var(--color-text-gray);
      display: block;
      text-align: left;
      padding-left: 8px;
    }
  }

  &__input {
    height: 50px;
    border: 1px solid var(--color-line-gray);
    background-color: var(--color-bg-surface);
    width: 305px;
    border-radius: 10px;
    padding: 16px;
    font-size: 14px;
    font-weight: 400;
    color: var(--color-base-dark);
  }

  &__select-row {
    display: flex;
    margin-bottom: 24px;
  }

  &__block-inner {
    padding: 0 20px;
    padding-bottom: 20px;
    position: relative;
  }
}
