@font-face {
  font-family: 'Walsheimpro';
  src: url('/fonts/GTWalsheimPro-Medium.ttf') format('TrueType');
  font-weight: 500;
}

@font-face {
  font-family: 'Walsheimpro';
  src: url('/fonts/GTWalsheimPro-Regular.ttf') format('TrueType');
  font-weight: 400;
}

@font-face {
  font-family: 'Walsheimpro';
  src: url('/fonts/GTWalsheimPro-RegularOblique.ttf') format('TrueType');
  font-weight: 400;
  font-style: oblique;
}
