:root {
  // colors
  --color-base: #fff;
  --color-base-dark: #291E47;

  --color-purple: #7547EF;
  --color-sky-blue: #5DCFF1;
  --color-aquamarine: #62F9E1;
  --color-heliotrope: #E45FF2;
  --color-red: #ED5454;

  --color-text-red: #ED5454;
  --color-text-light: #B2B0B8;
  --color-text-gray: #837D91;

  --color-bg-surface: #F3F5F8;
  --color-bg-divider: #EFEFF0;
  --color-bg-light: #F7F9FA;

  --color-line-gray: #E8E9EB;

  // typography
  --font-base: "Walsheimpro", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
}
