.modal {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &.--profile {
    .modal__img {
      max-width: 120px;
      height: 120px;
    }

    .modal__btn-wrp {
      button {
        width: 100%;
      }
    }
  }

  &__container {
    background-color: #fff;
    border-radius: 20px;
    position: relative;
    z-index: 1;
    max-width: 400px;
    width: 100%;
  }

  &__close {
    border: none;
    border-radius: 99px;
    background-color: #fff;
    font-size: 12px;
    font-weight: 400;
    color: var(--color-base-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: -42px;
    width: 88px;
    height: 28px;
    cursor: pointer;

    svg {
      width: 16px;
      height: 16px;
    }
  }

  &__title {
    text-align: center;
    padding: 24px 0;
    font-size: 24px;
    font-weight: 500;
    color: var(--color-base-dark);
    border-bottom: 1px solid var(--color-line-gray);
  }

  &__heading {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    color: var(--color-base-dark);
    margin-bottom: 16px;
  }

  &__inner {
    padding: 40px;
  }

  &__label {
    font-size: 12px;
    font-weight: 400;
    color: var(--color-text-gray);
    display: block;
    margin-bottom: 8px;
    position: relative;
  }

  &__forgot {
    border: none;
    padding: 0;
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    font-weight: 400;
    color: var(--color-purple);
    z-index: 1;
    cursor: pointer;
  }

  &__input {
    width: 100%;
    border: 1px solid #EBEDF0;
    height: 50px;
    border-radius: 10px;
    padding: 0 16px;
    font-size: 14px;
    font-weight: 400;
    color: var(--color-base-dark);
    margin-bottom: 24px;
    transition: border-color 0.3s ease;

    &:active,
    &:focus {
      border-color: var(--color-purple);
    }
  }

  &__btn-wrp {
    display: flex;
    flex-direction: column;
    align-items: center;

    &.--restore {
      button {
        width: 100%;
      }
    }

    path {
      fill: #fff;
    }
  }

  &__btn {
    border: none;
    padding: 14px 32px;
    border-radius: 10px;
    background-color: var(--color-bg-surface);
    font-size: 14px;
    font-weight: 500;
    color: var(--color-base-dark);
    margin-top: 24px;
    cursor: pointer;
    min-width: 200px;
  }

  &__text {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 24px;
    color: var(--color-base-dark);
    text-align: center;

    &.--register-success {
      margin-bottom: 0;
      margin-top: 24px;
    }

    span {
      color: var(--color-sky-blue);
    }
  }

  &__img {
    margin: auto;
    height: 226px;
  }
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.5;
}
